.container {
  margin-top: 50px;
  background-color: white;
  width: 586px;
  height: 554px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
}
.cont1 {
  display: flex;
  gap: 16px;
}
.cont2 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
